<?php
$db_host = 'localhost';
$db_user = '{{ item.name }}';
$db_pass = '{{ item.name }}';
$db_basename = '{{ item.name }}';

$siteuri = 'http://{{ item.domain }}/';
$sitepath = '{{ sites.path }}/{{ item.name }}/current/public/';
